.promo {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  position: relative;
}

.promo__item {
  width: 650px;
  margin-right: 50px;
}

.promo__description {
  width: 260px;
}

.promo__price {
  position: absolute;
  right: 583px;
  top: 138px;
  width: 80px;
}

.promo__price::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 0;
  border-bottom: 1px solid #8b8371;
  display: inline-block;
  top: 9px;
  margin-left: 11px;
}

.promo__characteristics {
  position: absolute;
  right: 0;
  bottom: 145px;
}

.promo__characteristics::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 0;
  border-bottom: 1px solid #8b8371;
  display: inline-block;
  top: 9px;
  margin-right: 15px;
  right: 122px;
}

.promo__info {
  margin: 236px 120px;
  position: relative;
}

.promo__link {
  display: inline-block;
  margin-top: 64px;
}

.promo__title {
  white-space: nowrap;
}

.promo__title::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 0;
  border-bottom: 1px solid #8b8371;
  display: inline-block;
  top: 30px;
  left: -60px;
}

.popular__title {
  margin: 76px auto 52px;
  width: 306px;
}

.popular__show-more {
  display: block;
  width: 105px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c4c0b6;
  margin-left: auto;
  margin-right: 98px;
}

.popular__list {
  display: flex;
  justify-content: space-between;
  padding: 79px 98px 86px;
}

.popular__item {
  width: 313px;
}

.card {
  display: grid;
}
